h1 {
    font-size: 50px;
    color:indigo;
    text-align: left;
    background-color:coral;
    margin:20px 20%;
    border-radius: 5px;
    width: 45px;
}
img {
    margin: 0 40%; 
    border: solid black;
    border-width: 5px;
    border-radius: 10px;
    width: 400px; 
}